<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Gang Gets Independent</title>
    
    <link rel="stylesheet" href="{{ url_for('static',    filename='template.css') }}">
    
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">The Gang Gets Independent</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('trip_roster') }}">Trip Roster</a></li>
            <li><a href="{{ url_for('trip_destinations') }}">Trip Destinations</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    
{% block content %}
{% endblock %}

 </body>
</html>