<html>
  <head>
    <link rel="stylesheet" href='/static/main.css'/>
  </head>
  <h1>
  The Gang Gets Independent
  </h1>
  <body>
    {% block content %}
  <h2>Trip Roster</h2>
  	<p style="margin-left: 20px">Aaron Hall, King of Mongolia/Brooklyn</p>
  	<p style="margin-left: 20px">Gautham Venky, King of Uber Eats Orders to Mongolia/Brooklyn</p>
    <p style="margin-left: 20px">Joseph "I love sports more than my wife" Maher</p>
    <p style="margin-left: 20px">Cia Maher, Queen of Paint By Numbers</p>
    <p style="margin-left: 20px">Alex Shazad (are you there Alex? We haven't heard from you in a bit)</p>
    <p style="margin-left: 20px">Raghav "I only deposit rent checks in person" Joshi </p>
    <p style="margin-left: 20px">Julianna "I've never played civ, but I'm actually better than Raghav" Jarik</p>
    <p style="margin-left: 20px">Jen Brofield, Queen of the Unexpected and Completely Unprovoked Roast </p>
    <p style="margin-left: 20px">Wanda "my cats match my blankets and my blankets match my cats" Lipps </p>
    <p style="margin-left: 20px">Champ "Never take a counter offer" Hua</p>
    <p style="margin-left: 20px">Ikshika "Get my goddamn name right" Singh</p>
    <p style="margin-left: 20px">Match Kern, King of Bourbon and Credit Card Points</p>
    <p style="margin-left: 20px">Kelly "Fast Track/I'll never drink again/jk" Jena</p>
    <p style="margin-left: 20px"><a href="{{ url_for('trip_destinations') }}">potential destinations</a></p>
    {% endblock %}
    {% block menu %}
    {% extends "template.html" %}
    {% endblock %}
   </body>
</html>
